{% extends "layout.html" %}

{% block title %}
flight
{% endblock title %}

{% block content %}

<h1>Flight {{flight.id}}</h1>
<ul>
    <li>Origin: {{ flight.origin}}</li>
    <li>Destination: {{ flight.destination }}</li>
    <li>Duration: {{ flight.duration }} minutes</li>
</ul>

<h1>Passengers:</h1>
<ul>
    {% for passenger in passengers %}
    <li>{{passenger.id}}: {{ passenger.first}} {{ passenger.last}}</li>
    {% endfor %}
</ul>

<h2>Add Passenger</h2>
<form action="{% url "flights:book" flight.id %}" method="post">
    {% csrf_token %}
    <select name="passenger" id="passenger_id">
        {% for passenger in non_passengers %}
        <option value="{{passenger.id}}">{{passenger.first}}</option>
        {% endfor %}
        <input type="submit">
    </select>
</form>
<a href="{% url "flights:flights_list" %}">Back to Flights</a>
{% endblock content %}